.FilterContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 98vw;
    background: #414141;
    border-radius: 1%;
}

.FilterHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    /* padding: 5px; */
    background: #414141;
    border-radius: 1%;
}

.FilterHeader img {
    width: 30px;
    height: 30px;
    padding: 5px;
}

.FilterSearch{
    width: 30px;
    height: 30px;
    padding: 5px;
}

.FilterSearch:hover{
    background: #646cff;
    border-radius: 50%;
}

.FilterCustom{
    width: 100%;
}